@page "/stream"
@using BlazorTestApp.Data
@using OpenTokSDK
@using LanguageExt
@inject IJSRuntime JavascriptRuntime
@inject IVideoService VideoService
<PageTitle>Host</PageTitle>

<div class="container bump-me">

    <div class="body-content">

        <button class="btn btn-primary" onclick="@StartStreamAsync">Start stream</button>
        <button class="btn btn-secondary" onclick="@StopStreamAsync">Stop stream</button>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Host</h3>
            </div>
            <div class="panel-body">
                Publishers
                <div id="publisher"></div>
            </div>
            <div class="panel-body">
                Subscribers
                <div id="subscribers">
                </div>
            </div>
            <div class="panel-footer">

            </div>
        </div>
    </div>

    <div class="panel panel-default" hidden="@(!isStreamAdmin)">
        <div class="panel-heading">
            <h3 class="panel-title">Instructions</h3>
        </div>
        <div class="panel-body">
            <p>
                Click <strong>Start archiving</strong> to begin archiving this session.
                All publishers in the session will be included, and all publishers that
                join the session will be included as well.
            </p>
            <p>
                Click <strong>Stop archiving</strong> to end archiving this session.
                You can then go to <a href="/archives">past archives</a> to
                view your archive (once its status changes to available).
            </p>
            <p>
                <button class="btn btn-success" onclick="@StartArchivingAsync" disabled="@isArchiving">Start archiving</button>
                <button class="btn btn-danger" onclick="@StopArchivingAsync" disabled="@(!isArchiving)">Stop archiving</button>
            </p>
            <table class="table">
                <thead>
                <tr>
                    <th>When</th>
                    <th>You will see</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td style="vertical-align: middle;">Archiving is started</td>
                    <td>
                        <img src="/Content/img/archiving-on-message.png">
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;">Archiving remains on</td>
                    <td>
                        <img src="/Content/img/archiving-on-idle.png">
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: middle;">Archiving is stopped</td>
                    <td>
                        <img src="/Content/img/archiving-off.png">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@code {

    private Option<Archive> currentArchive = Option<Archive>.None;
    private bool isArchiving;
    private bool isStreamAdmin;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        isStreamAdmin = IsStreamAdmin();
    }

    private bool IsStreamAdmin() => VideoService
        .GetCredentials()
        .Map(credentials => credentials.IsNewSession)
        .Match(isNew => !isNew, () => false);

    private async Task StartStreamAsync() => await VideoService
        .GetSessionInformation()
        .IfSomeAsync(InitializeStreamAsync);

    private async Task InitializeStreamAsync(SessionInformation session) => await JavascriptRuntime.InvokeVoidAsync(
        "initializeStream", session.ApiKey, session.Credentials.SessionId, session.Credentials.Token);

    private async Task StopStreamAsync() => await JavascriptRuntime.InvokeVoidAsync("disposeStream");

    private async Task StartArchivingAsync() => await VideoService
        .GetCredentials()
        .Do(_ => NotifyArchivingStarted())
        .Map(credentials => credentials.SessionId)
        .MapAsync(StartArchiveAsync)
        .IfSome(AssignArchive);

    private Task<Archive> StartArchiveAsync(string sessionId) => VideoService.StartArchiveAsync(sessionId);

    private void AssignArchive(Archive archive) => currentArchive = archive;

    private void NotifyArchivingStarted() => isArchiving = true;

    private async Task StopArchivingAsync() => await currentArchive
        .Do(_ => NotifyArchivingStopped())
        .Map(archive => archive.Id)
        .IfSomeAsync(StopArchiveAsync);

    private async Task StopArchiveAsync(Guid id) => await VideoService.StopArchiveAsync(id);

    private void NotifyArchivingStopped() => isArchiving = false;

}